/* Centrado total */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caja del login */
.login-container {
  background: white;
  width: 320px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* Input group */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 6px;
  font-size: 16px;
}

/* Botón */
.btn-login {
  width: 100%;
  padding: 12px;
  background: #4A90E2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-login:hover {
  background: #3b7ac2;
}

/* Texto inferior */
.register-text {
  font-size: 14px;
  margin-top: 15px;
}

.register-text a {
  text-decoration: none;
  color: #4A90E2;
}


/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1d1f27;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #ccc;
  border-top: 1px solid #333;
}
